
$normal-text: 1.125em; //18px
$big-text: 1.375em; // 22px
$bigest-text: 1.75em; // 28px;
$biger-text: 2em; // 32px;
$mega-text: 2.375em; // 38px

// COLOR
$blacky: #121212;
$yellow: #DAA520;
$grey: #CFCFCF;
$gold: #997417;
